In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
!pwd

/storage/emulated/0/jupyter

In [8]:
df = pd.read_excel("SVR_Example.xlsx",sheet_name="SPAD and Nitrogen")
df.head(1)

   SPAD  Nitrogen, mmol/m2
0  12.2            11.1128

In [16]:
x = df["SPAD"]
y = df["Nitrogen, mmol/m2"]

In [17]:
X = np.array(x).reshape(-1,1)
# y = np.array(y).reshape(-1,1)

In [18]:
#split datset for training and testing
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

## Model import, training and testing

In [19]:
svr = SVR(kernel="linear")
svr.fit(X_train,y_train)
svr_pred = svr.predict(X_test)

In [20]:
svr_pred

array([11.66431951, 16.90492266, 16.63009899, 13.84869388, 16.75329581,
       17.35506489, 16.42792985, 16.50690217, 17.22712973, 12.39402375,
       16.99968945, 16.92387602, 13.79657215, 13.94346066, 16.12151725,
       14.5641831 , 16.2320785 , 11.68327287, 17.76256206, 15.7487679 ,
       16.9333527 , 16.81015588, 14.87217515, 17.13710128, 15.36970076,
       17.54933679, 16.61114563, 18.1179375 , 16.54480888, 11.80646969,
       15.49289758, 13.98136738, 18.17479757, 11.44635591, 14.74581943,
       11.91071315, 18.08003078, 17.93788061, 14.51679971, 17.95683397,
       14.77161706, 13.93714288, 15.25598062, 17.59198185])

In [ ]:
print("MAE:",mean_absolute_error(y_test,svr_pred))